version: "3.8"

services:
  ganache:
    image: trufflesuite/ganache
    container_name: ganache
    ports:
      - "8545:8545"
    command:
      - --host=0.0.0.0
      - --port=8545
      - --accounts=10
      - --defaultBalanceEther=1000
      - --networkId=1337
      - --miner.blockTime=2
    volumes:
      - ./data:/data

